<input type="file" (change)="change($event)" />
<!-- <div *ngIf="video.invalid && (video.dirty || video.touched)">
  <div *ngIf="video.errors.minWidth">
    Video width must be at least 720 pixels.
  </div>
  <div *ngIf="video.errors.minHeight">
    Video height must be at least 720 pixels.
  </div>
</div>
<div *ngIf="video.invalid && (video.dirty || video.touched)">
  <div *ngIf="video.errors.aspectRatio">
    Video aspect ratio must be between 1.91:1 and 4:5 (vertical) or 4:5 and 1.91:1 (horizontal).
  </div>
</div>
<div *ngIf="video.invalid && (video.dirty || video.touched)">
  <div *ngIf="video.errors.maxSize">
    Video file size must be less than 4 GB.
  </div>
</div>
<div *ngIf="video.invalid && (video.dirty || video.touched)">
  <div *ngIf="video.errors.durationRange">
    Video duration must be between 3 and 60 seconds.
  </div>
</div>
<div *ngIf="image.invalid && (image.dirty || image.touched)">
  <div *ngIf="image.errors.maxSize">
    Image size should be no larger than 30 MB.
  </div>
</div> -->
